# Framework Web
flask

# Machine Learning e Otimização
scikit-learn
xgboost
lightgbm  # Novo modelo, geralmente mais rápido que XGBoost
mediapipe

# Processamento de Imagens e Data Augmentation
opencv-python
albumentations # Para data augmentation

# Processamento de Dados e Utilitários
numpy
joblib
matplotlib
seaborn
tqdm
pandas